<html>
  <head>
    <title>chat しましょう！</title>
    <style>
      input { display: block; }
      ul { list-style: none; }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    WesSocketでアプリケーション作成！
    <form id="chatbox">
      <textarea></textarea>
      <input type="submit" value="送信" />
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script>
      $(function() {
        var socket = null;
        var msgBox = $("#chatbox textarea");
        var messages = $("#messages");
        $("#chatbox").submit(function() {
          if(!msgBox.val()) return false;
          if(!socket) {
            alert("error: websocket not connect");
            return false;
          }
          socket.send(msgBox.val());
          msgBox.val("");
          return false;
        });
        if(window["websocket"]) {
          alert("error: websocket not support browser")
        } else {
          socket = new WebSocket("ws://{{.Host}}/room");
          socket.onclose = function() {
            alert("connection end");
          }
          socket.onmessage = function(e) {
            messages.append($("<li>").text(e.data));
          }
        }
      });
    </script>
  </body>
</html>
